body {
    background-color: black;
    margin: 0px;
    font-family: Arial, Sans-serif;
}
header {
    background-color: #292727;
}
.mainheaderdiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.logo {
    display: flex;
    max-width: 25%;
}
.logo img {
    height: 90px;
    width: auto;
    margin-left: 15px;
}
.navmain {
    display: flex;
    width: 65%;
}
.navmain ul {
    margin-top: 33px;
}
.navmain ul li{ 
    display: inline;
    color: white;
    font-size: large;
    margin-right: 25px;
}
.navmain ul li i {
    margin-left: 40px;
}
.navmain ul a {
    text-decoration: none;
    color: inherit;
}
.searchbar {
    margin-left: 15px;
    height: 30px;
    width: 400px;
    padding-left: 10px;
    border-radius: 5px  ;
}

.langdiv {
    display: flex;
    justify-content: center;
}
.langdiv img {
    margin-top: 33px;
}
.mainback {
    display: flex;
    margin-top: 30px;
}